{% extends "base-login.html.twig" %}
{% block body %}
<div class="container">
    <h1 class="text-center" style="margin-bottom: 50px;">Snow Tricks </h1>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="inscription" id="inscription">
                <div class="post-preview signup">
                    {{ form_start(form) }}
                    <h2 class="text-center">Inscription</h2>
                    {{ form_row(form.pseudo, {'label' : 'Pseudo', 'attr' : {'placeholder' : 'Votre Pseudo'}}) }}
                    {{ form_row(form.email, {'label' : 'Email', 'attr' : {'placeholder' : 'Adresse email'}}) }}
                    {{ form_row(form.password.first) }}
                    {{ form_row(form.password.second) }}
                    {{ form_row(form.avatar,{'label' : 'Télécharger votre avatar'}) }}
                    {{ form_rest(form) }}

                    <div class="form-group text-center">
                        <button type="submit" class="button btn-primary btn-block">S'inscrire</button>
                    </div>
                    <div class="clearfix">
                        <p class="text-center">Vous êtes déjà inscrit ?
                            <a href="{{path('security_login')}}#connexion">Connectez-vous</a>
                        </p>
                    </div>
                    <div class="clearfix">
                        <p class="text-center">Retounez à l'accueil
                            <a href="{{path('show_tricks')}}">Home</a>
                        </p>
                    </div>
                    {{ form_end(form)}}

                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}