{% extends 'head.html.twig' %}
{% block body %}
{% set isEmpty = trickDetails.image %}

{% if isEmpty is empty %}
{% include "/partials/default-header.html.twig" %}
{% else %}
{% for imageMain in trickDetails.image %}

{% if imageMain.main == 1 %}

<header class="masthead " style="background-image: url('{{ asset('images/uploadFigure/' ~ imageMain.filename) }}' )">
    {% endif %}
    {% endfor %}
    {% if app.user == trickDetails.user %}
    <ul class="nav justify-content-end navTrick">
        <li class="nav-item">
            <a href="#"><button type="button" class="btn ">
                    <i class="bi bi-pencil-square icon"></i></a>
        </li>
        <li class="nav-item">
            <form
                action=" {% for imageMain in trickDetails.image %} {% if imageMain.main == 1 %}  {{ url('delete_image', {id: imageMain.id  }) }}  {% endif %} {% endfor %} "
                method="post" onsubmit="return confirm('Êtes vous sur de vouloir supprimer cette image  ?');">
                <input type="hidden" name="_target_path" value="{{ app.request.uri }}" />
                <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                <button type="submit" class="btn">
                    <i class="bi bi-trash icon"></i>

                </button>
            </form>
        </li>
    </ul>
    {% endif %}
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 class="fw-bolder mb-1 text-center">{{ trickDetails.name }} </h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endif %}
{% include "/partials/message-alert.html.twig" %}
<div class="wrapper" id="tricks">
    <h1 class="fw-bolder mb-1 text-center">{{ trickDetails.name }}</h1>
    <div class="container-sm">
        <div class="row justify-content-center pb-0">
            {% if isEmpty is empty %}
            {% include "/partials/image-default.html.twig" %}
            {% else %}
            {% for image in trickDetails.image %}
            <div class="col-md-3">
                <div class="card p-3">

                    <div class="text-center"> <img class="card-img-top" style="height :250px;"
                            src="{{ asset('images/uploadFigure/' ~ image.filename) }}" width="200">
                    </div>
                    {% if app.user == trickDetails.user %}
                    <div class="btn-toolbar justify-content-center " role="toolbar"
                        aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a href="#"><button type="button" class="btn ">
                                    <i class="bi bi-pencil-square icon"></i></button></a>
                        </div>
                        <form action="{{ url ('delete_image',{id: image.id})}}" method="post"
                            onsubmit="return confirm('Êtes vous sur de vouloir supprimer cette image ?');">
                            <input type="hidden" name="token" value="{{ csrf_token('delete' ~ image.id) }}" />
                            <button type="submit" class="btn">
                                <i class=" bi bi-trash icon"></i>
                            </button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% for video in trickDetails.videos %}

            <div class="col-md-3">
                <div class="card p-3">
                    <iframe src="{{ video.url }}" style="height :250px;"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    {% if app.user == trickDetails.user %}
                    <div class="btn-toolbar justify-content-center " role="toolbar"
                        aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a href="#"><button type="button" class="btn ">
                                    <i class="bi bi-pencil-square icon"></i></button></a>
                        </div>
                        <form action="{{ url('delete_video', {id: video.id}) }}" method="post"
                            onsubmit="return confirm('Êtes vous sur de vouloir supprimer cet vidéo ?');">
                            <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}" />
                            <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                            <button type="submit" class="btn">
                                <i class="bi bi-trash icon"></i>
                            </button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container details">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <section class="mb-5">
                <p class="fs-5 mb-4">{{trickDetails.content}}</p>
                <div class="text-muted fst-italic mb-2">
                    {% if trickDetails.createdAt < trickDetails.updatedAt %} <span class="badge bg-secondary">dernière
                        mise
                        à jour le
                        {{trickDetails.updatedAt |
                        date("d/m/Y")}} </span>
                        {% else %}
                        <span class="badge bg-secondary">Publié le {{trickDetails.createdAt | date("d/m/Y")}}</span>
                        {% endif %} <span class="badge bg-secondary">Auteur: {{ trickDetails.user.pseudo}}</span>

                        <span class="badge bg-secondary">Groupe: {{trickDetails.groupe.name}} </span>
                </div>
            </section>
        </div>
    </div>
</div>
{# Comment #}
<div class="container comment">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="headings d-flex justify-content-between align-items-center mb-3">
                {% if comments %}
                <h5>Les commentaires</h5>
            </div>
            {% for comment in comments %}
            <div class="card p-3 mt-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="user d-flex flex-row align-items-center"><span><small
                                class="font-weight-bold text-primary">@{{ comment.user.pseudo }}</small> <small
                                class="font-weight-bold">{{ comment.content }} </small></span>
                    </div>
                </div>
                <div class="text-muted fst-italic mb-2 ">
                    <span class="badge bg-secondary dateComment">Le {{ comment.createdAt| date("d/m/Y") }} à {{
                        comment.createdAt|
                        date("H:i") }}</span>
                </div>
            </div>
            {% endfor %}

            <div class="bg-light p-2">
                {% else %}
                <h4>Aucun commentaires</h4>
                {% endif %}
            </div>
            {% if app.user %}
            <div class="card p-3 mt-2">
                <h4> Publier un commentaire </h4>
                {{ form_start(form)}}
                {{ form_row(form.content)}}
                {{ form_rest(form)}}
                <button type="submit" class="btn btn-success addTrick">Commenter</button>

                {{ form_end(form)}}
                {% else %}
                <a class="" href="{{path ('security_login',  {'redirect_to': app.request.pathInfo})}}"><button
                        class=" text-center btn btn-primary btn-sm shadow-none commentConnect " type="button">Connectez
                        vous pour ajouter un commentaire</button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}