{% extends "base-add.html.twig" %}
{% block body %}
{% if editMode %}
{% set isEmpty = trick.image %}

{% if isEmpty is empty %}
{% include "/partials/add-trick-header-default.html.twig" %}
{% else %}
{% for imageMain in trick.image %}
{% if imageMain.main == 1 %}

<header class="masthead img-fluid center-block"
    style="background-image: url('{{ asset('images/uploadFigure/' ~ imageMain.filename) }}' ); height:755px;">
    {% endif %}
    {% endfor %}

    <ul class="nav justify-content-end navTrick">
        <li class="nav-item">
            <form
                action="{% for imageMain in trick.image %} {% if imageMain.main == 1 %}  {{ url('delete_image', {id: imageMain.id  }) }}  {% endif %} {% endfor %}"
                method="post" onsubmit="return confirm('Êtes vous de vouloir supprimer cette image ?');">
                <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                <button type="submit" class="btn">
                    <i class="bi bi-trash icon"></i>
                </button>
            </form>
        </li>
    </ul>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Snow Tricks</h1><span class="subheading">Partageons nos sensentions</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endif %}
<button type="button" class="btn btn-primary media">Voir les médias</button>
<div class="wrapper" id="tricks">
    <h1 class="fw-bolder mb-1 text-center">{{ trick.name }}</h1>
    <div class="container-sm">
        <div class="row justify-content-center pb-0">
            {% if isEmpty is empty %}
            {% include "/partials/add-trick-image-default.html.twig" %}
            {% else %}
            {% for image in trick.image %}
            <div class="col-md-3">
                <div class="card p-3">
                    <div class="text-center"> <img class="card-img-top" style="height :250px;"
                            src=" {{ asset('images/uploadFigure/' ~ image.filename) }}" width="200">
                    </div>
                    <div class="btn-toolbar justify-content-center " role="toolbar"
                        aria-label="Toolbar with button groups">
                        <form action="{{ url('delete_image', {id: image.id}) }}" method="post"
                            onsubmit="return confirm('Êtes vous de vouloir supprimer cette image ?');">
                            <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                            <button type="submit" class="btn">
                                <i class="bi bi-trash icon"></i>

                            </button>
                        </form>
                    </div>
                </div>
            </div>


            {% endfor %}
            {% endif %}
            {% for video in trick.videos %}

            <div class="col-md-3">
                <div class="card p-3">
                    <iframe src="{{ video.url }}" style="height :250px;"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                    <div class="btn-toolbar justify-content-center " role="toolbar"
                        aria-label="Toolbar with button groups">
                        <form action="{{ url('delete_video', {id: video.id}) }}" method="post"
                            onsubmit="return confirm('Êtes vous de vouloir supprimer cet vidéo ?');">
                            <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                            <button type="submit" class="btn">
                                <i class="bi bi-trash icon"></i>

                            </button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5 add-update-trick">
                    {% if editMode %}
                    <h3 class="text-center" id="contact">Modifier le Trick</h3>
                    {% else %}
                    <h1 class="text-center" style="margin-bottom: 50px;">Snow Tricks </h1>
                    <h3 class="text-center" id="contact">Ajouter un Trick</h3>
                    {% endif %}

                    {{ include('/form/form-trick.html.twig') }}

                    {{ form_rest(formTrick) }}
                    <div class="btn-group" role="group" aria-label="Basic example">
                        {% if not editMode %}
                        <button type="submit" class="btn btn-success addTrick">Publier</button>
                        {% else %}
                        <button type="submit" class="btn btn-success addTrick">Modifier</button>



                        {{ form_end(formTrick) }}
                        <form action="{{ url('delete_trick', {id: trick.id}) }}" method="post"
                            onsubmit="return confirm('Êtes vous de vouloir supprimer ce trick ?');">
                            <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                            <div class="delete">
                                <button type="submit" class="btn btn-danger addTrick">Supprimer</button>
                            </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}